@page "/contact"

<h3>Contact Me</h3>

<div>
    <strong>Cell#</strong>  0905 124 1792
    </div>

    <br />

    <div>
        <strong>Email:</strong> leonardoocubillo@gmail.com
        </div>

        <br />

        <div>
            <strong>GitHub:</strong> <a href="https://github.com/Nardz0033" target="_blank">Nardz0033</a>
            </div>
