@page "/contact"

<div class="contact-container fade-in">

    <h3>Contact Me</h3>

    <div class="contact-card">
        <div class="contact-item">
            <span class="label">📱 Cell #</span>
            <span class="value">0905 124 1792</span>
        </div>

        <div class="contact-item">
            <span class="label">📧 Email</span>
            <span class="value">leonardoocubillo@gmail.com</span>
        </div>

        <div class="contact-item">
            <span class="label">💻 GitHub</span>
            <a class="value link" href="https://github.com/Nardz0033" target="_blank">
                Nardz0033
            </a>
        </div>
    </div>

</div>
