@page "/projects"

<div class="projects-container fade-in">

    <h2>My Projects</h2>

    <div class="card-container">

        <div class="project-card hover-card">
            <h3>Java Payroll System</h3>
            <p>A payroll system created using Java for school defense.</p>
        </div>

        <div class="project-card hover-card">
            <h3>Calculator App</h3>
            <p>Simple calculator built with HTML, CSS, and JavaScript.</p>
        </div>

        <div class="project-card hover-card">
            <h3>Blazor Portfolio</h3>
            <p>A modern personal portfolio built using Blazor Web App.</p>
        </div>

    </div>

</div>
