@page "/skills"

<div class="skills-container fade-in">

    <h2>My Skills</h2>

    <div class="skills-grid">

        <div class="skill-card hover-card">C Programming</div>
        <div class="skill-card hover-card">Java</div>
        <div class="skill-card hover-card">HTML & CSS</div>
        <div class="skill-card hover-card">Blazor</div>

    </div>

</div>
