@page "/skills"

<h2>My Skills</h2>

<div class="card-container">
    <div class="card">C Programming</div>
        <div class="card">Java</div>
            <div class="card">HTML & CSS</div>
                <div class="card">Blazor</div>
                </div>
